.profile__edit-button {
  width: 24px;
  height: 24px;
  background-color: black;
  background-image: url("../../../images/pencil.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px white solid;
  box-sizing: border-box;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__edit-button::before {
  content: "";
  display: block;
  padding-top: 20px;
}

@media (max-width: 743px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }

  .profile__edit-button::before {
    content: "";
    display: block;
    padding-top: 15px;
  }
}
