.header__logo {
  background-image: url("../../../images/header logo.png");
  height: 33px;
  width: 142px;
  background-position: center;
  background-size: cover;
}

@media (max-width: 743px) {
  .header__logo {
    height: 24px;
    width: 103px;
    margin-left: 27px;
  }
}
