.loading-bar {
    margin-top: 41px;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.7), rgba(255,255,255,0.5), rgba(255,255,255,0.3), rgba(255,255,255,0), rgba(255,255,255,0.3), rgba(255,255,255,0.5), rgba(255,255,255,0.7),rgba(255,255,255,1),rgba(255,255,255,1));
    animation: loadingBreath 4s linear infinite;
    background-size: 300% 300%;
    background-position: -200%;
    z-index: 1001;
    transition: visibility 2s, opacity 1.5s linear;
}

@keyframes loadingBreath {
  0% {
    background-position:200% 200%
  }
  100% {
    background-position:-100% -100%
  }
}