.card__delete {
  background-image: url("../../../images/trash-bin.svg");
  width: 18px;
  height: 19px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card__delete:hover {
  opacity: 0.6;
}
